.profile {
  color: rgb(174, 181, 187);
  background-color: #ffffff;
  margin-bottom: 50px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px rgb(216, 222, 228), -0.3em 0 0.4em rgb(216, 222, 228);
}
:hover.description {
  background-color: beige;
  transition-property: background-color;
  transition-duration: 2s;
}
:hover.stats li {
  background-color: beige;
  transition-property: background-color;
  transition-duration: 2s;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 50px;

  font-size: 30px;

  text-align: center;
}

.name {
  color: black;
}

.stats {
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.stats li {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
  padding: 50px;

  background-color: rgb(248, 246, 246);
  outline: 1px solid rgb(207, 217, 227);
}

.label {
  font-size: 30px;
}

.quantity {
  color: black;
  font-weight: bold;
}
